<%- include('layout/header'); -%>

    <body>
        <%-include("layout/imgtagcontainer"); -%>
            <!-- populate the categories inside the nav bar -->
            <!-- <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Team</li>
                    <li>Contact</li>
                </ul>
            </nav> -->
            <main>
                <div class="container">
                    <div class="login-container">
                        <form action="" method="post">
                            <div class="form-title">
                                <h1>Login</h1>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <% if(typeof(err)!=='undefined') { %>
                                <div id="emailHelp" class="form-text" style="color: red; font-weight: bolder;"><%=err%></div>
                            <% } %>
                        </form>
                    </div>
                </div>
            </main>
            <%-include('layout/footer'); -%>

    </body>

    </html>