<nav>
  <div class="page-operations">
      <ul>
          <div class="add-edit">
              <li>
                  <a href="/addPost" style="text-decoration: none; color: #fff;">Add Page</a>
              </li>
              <li>
                  <a href="/editPages" style="text-decoration: none; color: #fff;">Edit Page</a>
              </li>
          </div>
          <div class="logout">
              <li><a style="text-decoration: none; color: #fff;" href="/logout">Logout</a></li>
          </div>
      </ul>
  </div>
</nav>