<header>
    <div class="image-tagline">
        <div class="image-container">
            <img src="/images/logo.png" alt="logo">
        </div>
        <div class="tagline-container">
            <h1>BLOGTIME</h1>
        </div>
    </div>
    <div class="admin-tagline">
        <h3>Welcome Admin!</h3>
    </div>
</header>