<header>
    <div class="image-tagline">
        <div class="image-container">
            <img src="/images/logo.png" alt="logo">
        </div>
        <div class="tagline-container">
            <h1>BLOGTIME</h1>
        </div>
    </div>
    <div class="admin-tagline">
        <a style="text-decoration: none; color: red; font-size: 20px;" href="/login">Login</a>
    </div>
</header>